<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>404 - Page Not Found</title>
  <link rel="stylesheet" href="/error.css">
  <style>
    
  </style>
</head>
<body>
  <h1>404</h1>
  <p>Oops! The page you're looking for doesn't exist.</p>
  <p><a href="/">Return to Home</a></p>
</body>
</html>
